
*{
    font-family:kavoon;
    margin: 0;
    cursor: url("../Assest/varita-magica.png"), auto;
}

body{
    background-color: #0E3032;
}

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    top: 25px;  /* Mueve el botón hacia arriba */
    left: 25px;  /* Mueve el botón hacia la izquierda */
    background: red;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    background: red;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}


.salir-menu{
    margin-top: 52px;
}

.flecha{
    margin-left: 92px;
    border: 2px solid black;
    border-radius:260%;
    width: 102px;
    height: 80px;
    padding-top: 15px;
    padding-left: 28px;
    background-color: red;
}

.avatar{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 80%;
    transform: translate(0%, -47%);
}

.boseto {
    width: 250px;
    height: 240px;
    border: 8px solid;
    padding-top: 5px;
    padding-left: 17px;
    padding-right: 25px;
    background-color: #A32121;
    border-radius: 50%;
    position:absolute;
    top: 5%;
    margin-left: 26%;
    
}
.boseto img{
    width: 200px;
    height: 200px;
    margin-top: 7px;
    background-color: white;
    border-radius: 100%;
    padding-left: 10px;
    padding-top: 12px;
    border: 5px solid;
}

@keyframes colores {
    0%{
        color: yellow;
    }
    25%{
        color:#ffa407;
    }
    50%{
        color: rgb(255, 0, 0);
    }
    75%{
        color: deeppink;
    }
    100%{
        color: rgb(17, 255, 0);
    }
    
}

.nombre-opcion{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:200px;
    margin-left: -140px;
    display: flex;
    width: 100%;
    height: 70px;
    border: 2px solid black;
    gap: 0%;
    background-color: #906767;
    font-family:kavoon;
}

.nombre-opcion a{
    width: 25%;
    height: 100%;
    text-align:center;
    font-size: 40px;
    margin-bottom: 600px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #906767;
    color: white;
}

.nombre-opcion a:hover {
    background-color: #0c3e41; /* Cambia el color de fondo */
    color: #FF9900; /* Cambia el color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra sutil */
    transition: all 0.3s ease; /* Transición suave para todos los efectos */
}

.cuadro{
    background:linear-gradient(#da6c06,rgb(97, 55, 8));
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -140px;
    width: 100%;
    margin-right: 120px;
    height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid black;
    overflow-y:auto;
    overflow-x: hidden;
}

.imagenes{
    display: flex;
    margin-left: 20px;

    
}

.imagenes img{
    margin-right: 40px;
    margin-left: 40px; 
    width:120px ;
}


.cuadro::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

.boton-limpiar{
    margin-top: 10px;
    margin-left: 20%;
}

.boton-limpiar button{
    width: 320px;
    height: 65px;
    font-size: 45px;
    text-align: center;
    border-style: none;
    color: white;
    border: 2px solid black;
    transition: all 500ms;
    
    background:linear-gradient(red,rgb(186, 98, 98));
}

.boton-limpiar button:hover{
    transform: translateY(-4px);
    background:linear-gradient(rgb(247, 71, 71),rgb(255, 0, 0));
}



.cuadro::-webkit-scrollbar-thumb {
    background-color: rgb(233, 75, 75); /* Color de la barra de desplazamiento */
    border-radius: 5px;
}

.cuadro::-webkit-scrollbar-track {
    background-color: black; /* Color del track (fondo del scrollbar) */
}


