body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: url("../Assest/varita-magica.png"), auto;
    background-attachment: fixed;   /*Para que se adapte al tamaño inferior a la pantalla*/
}

.retroceso{
    margin: 0.5%;
}

.retroceso img{
    width: 15%;
}

.cronometro{
    text-shadow: 0 0 30px #fff;
}

.tiempo{
    background-image: url(../Assest/tiempo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    place-items: center;
    display: grid;
}

.tiempo h1{
    text-shadow:
    0px 0px 0px black,
    0 0 0.6em #9F3434,
    0 0 0.2em #9F3434;
    font-size:1000%;
    color: #9F3434;
}

.cabeza{
    padding-top: 1%;
}

.corazon img{
    width: 20%;
}

.hallar{
    place-items: center;
    display: grid;
}

.contenedorHallar{
    margin-top: 20px;
    border: 10px solid #5200FF;
    width: 60%;
    color: black;
    height:auto;
    text-align: center;
    background: linear-gradient(#310776,#5C0EDC);
}

.contenedorItem{
    margin-top: 20px;
    margin-left: 20px;
    border: 10px solid #5200FF;
    width: 60%;
    height:130px;
    background: linear-gradient(#310776,#5C0EDC);

}
/* para evitar el error al tomar las botellas (toma el div total)*/
#botellas, #arrastreBruja {
    position: relative;
    z-index: 10;  
}

#item{
    position: relative;
    z-index: 10;  
}

.contenedorAbajo{
    display: flex;
    flex-wrap: wrap;
    height: 170px;
}

.bruja{
    display: grid;
    place-items: center;
    background-image: url(../Assest/brujaRevolviendo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    bottom: 187px;
}

.colorMezcla{
    margin-top: 277px;
    margin-left: 10%;
    width: 80%;
	height: 30px;

	border-radius: 100%;
}

.tamañoBruja{
    width: 400px;
    height: 380px;
}

.item {
    background-image: url("../Assest/pocionAmarilla.png");
    background-size: 84%;   
    background-repeat: no-repeat;
    width: 100%;
    height: 100px; 
    margin: 10px;
    cursor: grab;  
}

.hallar hr{
    width: 90%;
    height: 11px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #5200FF;
}

.colorHallar{
    border: 2px solid;
    width: 40%;
    margin-left: 30%;
    box-shadow: inset 0px 0px 30px 0 rgba(0, 0, 0, 0.596);
    height: 100px;
    margin-bottom: 5%;
}
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#d32525;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #ba2020;
}
.cuerpo-modales{
    background:linear-gradient( #FBB347,#FF7A00);
    border-radius: 0.3pc;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #FFF;
    text-shadow: 3px  0px 0px black,
    0px  1.4px 0px black,
   -1.5px  0px 0px black,
    0px -1.6px 0px black;
}

.modal-title {
    text-align: center;
    flex-grow: 1;
    color: rgb(26, 169, 26);
    text-shadow: 3px  0px 0px black,
    0px  3px 0px black,
   -3px  0px 0px black,
    0px -3px 0px black;
    
}

.btn-dr {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    top: 25px; /* Cambiado de bottom a top */
    right: 25px;
    background: #ffffff;
    color: #000000;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-dr:hover {
    background: #c0c2c1;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .btn-dr {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}
@media (max-width:1266px) {
    .tiempo{
        background-size:400px;
    }
    .tiempo h1{
        font-size:700%;
    }
    .colorHallar{
        height: 85px;
    }
        .corazon img{
        width: 43%;
    }
    .contenedorHallar{
        width: 100%;
    }
    .retroceso img{
        width: 25%;
    }
    .contenedorItem{
        width: 60%;
        height: 90px;
        margin-top: 5%;
        margin-left: 0%;
    }

    .tamañoBruja{
        width: 290px;
        height: 380px;
    }
    .colorMezcla{
        margin-top: 254px;
        margin-left: 10%;
        width: 80%;
        height: 20px;
        
    }
    .bruja{
        bottom: 210px;
        left: 36px;
    }
}
@media (max-width:815px) {
    .tiempo{
        background-size:300px;
    }
    .tiempo h1{
        font-size:500%;
    }
    .colorHallar{
        height: 85px;
    }
        .corazon img{
        width: 50%;
    }
    .contenedorHallar{
        width: 100%;
    }
    .retroceso img{
        width: 25%;
    }
    .contenedorItem{
        width: 60%;
        height: 70px;
        margin-top: 16%;
        margin-left: 0%;
    }

    .tamañoBruja{
        width: 240px;
        height: 380px;
    }
    .colorMezcla{
        margin-top: 237px;
        margin-left: 10%;
        width: 80%;
        height: 20px;
        
    }
    .bruja{
        bottom: 121px;
    }
}
@media (max-width:617px) {
    .tiempo{
        background-size:170px;
    }
    .tiempo h1{
        font-size:350%;
    }
    .corazon img{
        width: 60%;
    }
    .contenedorHallar{
        width: 100%;
    }
    .colorHallar{
        height: 40px;
    }
    .retroceso img{
        width: 25%;
    }
    .contenedorItem{
        width: 100%;
        height: 70px;
        margin-top: 56%;
        margin-left: 0%;
    }

    .tamañoBruja{
        width: 230px;
        height: 380px;
    }
    .colorMezcla{
        margin-top: 237px;
        margin-left: 10%;
        width: 80%;
        height: 20px;
        
    }
    .bruja{
        bottom: 369px;
        left: 40%;
    }
}

@media (max-width:400px) {
    .tiempo{
        background-size:140px;
    }
    .tiempo h1{
        font-size:320%;
    }
    .corazon img{
        width: 70%;
    }
    .contenedorHallar{
        width: 100%;
    }
    .colorHallar{
        height: 40px;
    }
    .retroceso img{
        width: 25%;
    }
    .contenedorItem{
        width: 100%;
        height:40%;
        margin-top: 30%;
        margin-left: 0%;
    }

    .tamañoBruja{
        width: 140px;
        height: 380px;
    }
    .colorMezcla{
        margin-top: 219px;
        margin-left: 10%;
        width: 80%;
        height: 10px;
        
    }
    .bruja{
        bottom: 325px;
        left: 52%;
    }
}